
process.container = 'selkamandcci/micrite-sleuth:0.0.1'

profiles {
    singularity {
        singularity.enabled = true
    }
    docker {
        docker.enabled = true
    }
    apptainer {
        apptainer.enabled = true
    }

    test {

      params{
  
        sampleid  = "test"
  
        //Kraken result file (stdout)
        kraken = "${projectDir}/testfiles/ebv_hpv.kout.tsv"
  
        // Kraken Report (used to identify child taxids)
        kreport = "${projectDir}/testfiles/ebv_hpv.kreport.tsv"
  
        // Path to fastq reads classified
        r1 = "testfiles/ebv_1000_hpv16_1000.R1.fq"
        r2 = "testfiles/ebv_1000_hpv16_1000.R2.fq"
      
        // Taxid to extract (will include children)
        taxid = 3050299 
  
        outdir = "micrite-sleuth"
      }
    }
}
