process.container = 'selkamandcci/micrite-sleuth:0.0.2'

manifest {
    name            = 'selkamand/micrite-sleuth'
    homePage        = 'https://github.com/selkamand/micrite-sleuth'
    description     = 'in silico validation of a suspected microbial hit'
    nextflowVersion = '>=25.04.0'
}

profiles {
    singularity {
        singularity.enabled = true
    }
    docker {
        docker.enabled = true
    }
    apptainer {
        apptainer.enabled = true
    }

    researchvm {
        singularity.enabled = true
        process {
            withName: ASSEMBLE {
                cpus = 6
                memory = 200.GB
            }
        }
    }

    test {

        process {
            cpus = 2
            memory = 4.GB
        }

        params {

            sampleid = "test"

            //Kraken result file (stdout)
            kraken = "${projectDir}/testfiles/ebv_hpv.kout.tsv"

            // Kraken Report (used to identify child taxids)
            kreport = "${projectDir}/testfiles/ebv_hpv.kreport.tsv"

            // Path to fastq reads classified
            r1 = "${projectDir}/testfiles/ebv_1000_hpv16_1000.R1.fq"
            r2 = "${projectDir}/testfiles/ebv_1000_hpv16_1000.R2.fq"

            // Taxid to extract (will include children)
            taxid = 3050299

            // Whole Genome Assembly Config (best guess)
            genome_size_guess = 172000
            quast_min_contig = 50

            // Skip annotating bacterial genomes that we assemble de novo
            run_assembly_annotation = false

            // We'll specify the bakta database in case in future we want to set run_assembly_annotation to true 
            bakta_database = "${projectDir}/testfiles/bakta_db"

            // Path to BAKTA database for bacterial genome annotation
            // This database is a toy db for testing. Please install the full bakta database by running
            // `bakta_db download --output bakta_db` and change to that
            // bakta_database = "testfiles/bakta_db"

            // Run Remote Blast on subsample of 200 reads?
            run_remote_blastn = false
            // Refgenomes
            refgenomes = "${projectDir}/testfiles/refgenomes"

            // BUSCO 
            run_busco = false

            outdir = "micrite-sleuth"
        }
    }
}

report {
    enabled = true
    overwrite = true
    file = "results/${params.outdir}/${params.sampleid}.${params.taxid}.report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "results/${params.outdir}/${params.sampleid}.${params.taxid}.timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "results/${params.outdir}/${params.sampleid}.${params.taxid}.dag.html"
}
